/* CSS Reset and universal settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover,
a:active,
a:focus,
a {
    color: white;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.cards-hidden {
    display: none;
}

button {
    display: block;
    border-radius: 5px;
}

#delivery {
    display: none;
}

/* Body */
body {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-position: center, left;
    background-repeat: no-repeat;
    color: white;
}

/* Navbar */
nav {
    font-size: xx-large;
    display: flex;
    padding-top: 2%;
}

.col-1 {
    width: 50%;
}

.col-2,
.col-3 {
    width: 25%;
}

nav div {
    text-align: center;
}

/* Hero cover */
.hero {
    display: flex;
    margin-top: 3%;
}

.hero img {
    width: 30%;
    border-radius: 70%;
}

.hero h3 {
    text-align: center;
    padding: 5%;
    font-size: x-large;
}

/* Varieties section */
.cards {
    display: flex;
    /* justify-content: center; */
}

.card {
    margin: 2%;
    padding: 2%;
    width: 30%;
    box-shadow: 5px 5px 20px black;
    font-size: x-large;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: .2px 2px black;
}

.card img {
    border-radius: 50%;
    width: 30%;
    align-self: center;
}

/* Order section */
.order {
    display: flex;
    position: relative;
    left: 20%;
    font-size: x-large;
    width: 60%;
}

.order img {
    width: 20%;
}

form {
    background-color: grey;
    width: 80%;
    padding: 2% 5%;
    border-radius: 5px;
}

label {
    display: block;
}

select {
    width: 80%;
    height: 10%;
    border-radius: 5px;
    margin: 2% 0;
}

#submit,
#delivery {
    position: relative;
    left: 30%;
    height: 10%;
    width: 20%;
}

/* Newsletter section */
#newsletter {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

form#subscription {
    width: 60%;
    display: flex;
    align-self: center;
    background: linear-gradient(to right, grey, black, grey);
}
#subscription input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0 2%;
}
button#subscribe{
    width: 20%;
    margin: 0 2%;
}

/* Contact us section */
#talk{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
form#contact{
    width: 60%;
    align-self: center;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
#contact input,
#contact textarea{
    width: 60%;
    align-self: center;
    border-radius: 5px;
    padding: 1% 2%;
}
#contact label{
    position: relative;
    left: 20%;
    margin-top: 3%;
}
#contact input{
    height: 30px;
}

button#feedback{
    width: 20%;
    align-self: center;
    margin-top: 2%;
    height: 30px;
}