/* CSS Reset and universal settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover,
a:active,
a:focus,
a {
    color: white;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.cards-hidden {
    display: none;
}

button {
    display: block;
    border-radius: 5px;
}

#delivery, #checkout{
    display: none;
}
.hidden{
    display: none !important;
}
/* Body */
body {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-position: center, left;
    background-repeat: no-repeat;
    color: white;
}

/* Navbar */
nav {
    font-size: xx-large;
    display: flex;
    padding-top: 2%;
}

.col-1 {
    width: 50%;
}


nav div {
    text-align: center;
}

/* Hero cover */
.hero {
    display: flex;
    margin-top: 3%;
}

.hero h3 {
    text-align: center;
    padding: 5%;
    font-size: x-large;
}

/* Order section */
.order {
    display: flex;
    position: relative;
    left: 20%;
    font-size: x-large;
    width: 60%;
}

.order img {
    width: 20%;
}

form {
    background-color: grey;
    width: 80%;
    padding: 2% 5%;
    border-radius: 5px;
}

label.block {
    display: block;
}

select {
    width: 80%;
    height: 10%;
    border-radius: 5px;
    margin: 2% 0;
}

#submit{
    position: relative;
    left: 30%;
    height: 10%;
    width: 20%;
}
.radio input{
    margin-right: 2%;
}

/* Newsletter section */
#newsletter {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

form#subscription {
    width: 60%;
    display: flex;
    align-self: center;
    background: linear-gradient(to right, grey, black, grey);
}
#subscription input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0 2%;
}
button#subscribe{
    width: 20%;
    margin: 0 2%;
}

/* Footer section */
footer{
    text-align: center;
    margin-top: 3%;
    font-size: small;
}

/* Salutation */
#greeting{
    text-align: center;
}
.black{
    color: black;
}

/* Feedback section */
#output{
    font-size: xx-large;
    text-align: center;
    color: black;
}
#control{
    width: 50%;
    position: relative;
    left: 25%;
    display: flex;
    justify-content: center;
}
#delivery, #checkout{
    height: 35px;
    width: 30%;
    font-size: large;
    margin: 2%;

}